<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1 class="form-title"><%= title %></h1>
      <form action="/items/<%= item.id %>/edit" method="post">
        <input type="hidden" name="id" value="<%= item.id %>" />
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= item.title %>" />
        <label for="description">Description:</label>
        <textarea id="description" name="description">
<%= item.description %></textarea
        >
        <label for="img_url">Image URL:</label>
        <input
          type="text"
          id="img_url"
          name="img_url"
          value="<%= item.img_url %>" />
        <label for="category">Category:</label>
        <select id="category" name="category">
          <% categories.map((category) => { if (category.name === item.category)
          { %>
          <option value="<%= category.id %>" selected>
            <%= category.name %>
          </option>
          <% } else { %>
          <option value="<%= category.id %>"><%= category.name %></option>
          <% } %> <% }) %>
        </select>
        <label for="genre">Genre:</label>
        <select id="genre" name="genre">
          <% genres.map((genre) => { %> <% if (genre.name === item.genre) { %>
          <option value="<%= genre.id %>" selected><%= genre.name %></option>
          <% } else { %>
          <option value="<%= genre.id %>"><%= genre.name %></option>
          <% } %> <% }) %>
        </select>
        <button type="submit">Submit</button>
      </form>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
